*{
    font-family: 'Fira Sans', sans-serif;
}

body{
    background: #171B41;
}

form{
    margin: 50px auto;
    width: 90%;
    background: #171B41;
    padding: 15px;
}

form label{
    color: #f39c12;
}

form input, form select{
    margin: 20px 0;
    width: 90%;
    padding: 10px;
}

form input:focus, form select:focus{
    outline: 1px solid #f39c12;
}

form select{
    height: 40px;
}

button{
    background: white;
    border: none;
    border-radius: 5px;
    height: 50px;
    font-size: 1.5em;
}
